<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-8 col-xs-12">
            <div style="height:490px;">
                <h1>CALENDAR</h1>
                <h2>
                    %%何月%%<br />
                    %%何日%% ~~ %%何日%%
                </h2>
                
                暇時間一覧
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>開始日</td>
                            <td>開始時間</td>
                            <td>終了時間</td>
                            <td>編集</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% @schedules.each do |schedule| %>
                        <tr>
                            <td><%= convert_date_from_datetime(schedule.starting_time)%></td>
                            <td><%= convert_time_from_datetime(schedule.starting_time)%></td>
                            <td><%= convert_time_from_datetime(schedule.end_time)%></td>
                            <td><%= link_to "edit" , edit_schedule_path(schedule) %>
    <%= link_to "destroy" , schedule , method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
    </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            
            
            <div style="height:230px; background-color:#aaa; border-radius:15px; padding:15px;">
                <%= render 'shared/schedule_generate' %>
            </div>


        </div>
        <div class="col-sm-4 col-md-4 col-xs-12" style="height:800px;">
            <div style="height:200px;">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">通知</h3>
                    </div>
                    <div class="panel-body" style="height:100px;">
                        %%ここに出力%%
                    </div>
                </div>
            </div>
            <div style="height:300px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">予定一覧</h3>
                    </div>
                    <div class="panel-body" style="height:200px;">
                        <li>%%ここに出力%%</li>
                        <li>%%ここに出力%%</li>
                        <li>%%ここに出力%%</li>
                        <li>%%ここに出力%%</li>
                        <li>%%ここに出力%%</li>
                    </div>
                </div>
            </div>
            <div style="height:300px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">詳細</h3>
                    </div>
                    <div class="panel-body" style="height:200px;">
                        日時<br />
                        %%ここに出力%%<br />
                        場所<br />
                        %%ここに出力%%<br />
                        メモ<br />
                        %%ここに出力%%<br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
