<h1>ひま時間登録画面</h1>

<h3>ひま時間一覧</h3>
<% @schedules.each do |schedule| %>

  開始時刻:<%= schedule.starting_time %>　終了時刻:<%= schedule.end_time %>
   (<%= link_to "edit" , edit_schedule_path(schedule) %>
    <%= link_to "destroy" , schedule , method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
    )
  <br>
<% end %>

  <br>
<%= form_for(@schedule) do |f| %>
  開始時間:
  <div class='input-group date schedule_starting_time'>
      <%= f.text_field :starting_time, class: 'form-control date-picker' %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar">
        </span>
      </span>
  </div>

  終了時間:
  <div class='input-group date schedule_end_time'>
      <%= f.text_field :end_time, class: 'form-control date-picker' %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar">
        </span>
      </span>
  </div>
  <br>
  <%= f.submit %>
<% end %>

