<h1>ひま時間登録画面</h1>

<h3>ひま時間一覧</h3>
<% @schedules.each do |schedule| %>

  開始時刻:<%= schedule.starting_time %>　終了時刻:<%= schedule.end_time %>
   (<%= link_to "edit" , edit_schedule_path(schedule) %>
    <%= link_to "destroy" , schedule , method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
    )
  <br>
<% end %>

  <br>
<%= form_for(@schedule) do |f| %>
  開始時間:
  <div class="row">
    <div class="col-sm-12">
        <%= f.text_field :starting_time, class: 'form-control datetime' %>
    </div>
  </div>

  終了時間:
  <div class="row">
    <div class="col-sm-12">
        <%= f.text_field :end_time, class: 'form-control datetime' %>
      
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <%= f.submit %>
    </div>
  </div>
<% end %>

