<h1>予定イベント</h1>
  <div class="panel panel-default">
	<div class="panel-heading">
		イベント名
	</div>
	<div class="panel-body">
		<%=@event.event_name%>
	</div>
  </div>
  
  <div class="panel panel-default">
	<div class="panel-heading">
		場所
	</div>
	<div class="panel-body">
		<%=@event.place%>
	</div>
  </div>
  
  <div class="panel panel-default">
	<div class="panel-heading">
		内容
	</div>
	<div class="panel-body">
		<%=@event.content%>
	</div>
  </div>
  
  <div class="panel panel-default">
	<div class="panel-heading">
		主催者
	</div>
	<div class="panel-body">
		<%=User.find(@event.owner_id).name%>
	</div>
  </div>
  
  <div class="panel panel-default">
	<div class="panel-heading">
		日時
	</div>
	<div class="panel-body">
	    日付：<%=@event.event_date%><br>
	    
	    <%if @event.event_starting_time!=nil%>
		開始時間：<%=@event.event_starting_time%><br>
		終了時間：<%=@event.event_end_time%><br>
		
		<%else%>
	
		<%end%>
	</div>
  </div>