<h1>イベント登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@event) do |f| %>
      <%= f.label :event_name %>
      <%= f.text_field :event_name, class: 'form-control' %>

      <%= f.label :place %>
      <%= f.text_field :place, class: 'form-control' %>
      
      <%= f.label :content %>
      <%= f.text_field :content, class: 'form-control' %>
      
      <%= f.label :event_starting_time %>
      <%= f.datetime_select  :event_starting_time, class: 'form-control' %>
      
      <%= f.label :event_end_time %>
      <%= f.datetime_select  :event_end_time, class: 'form-control' %>
      
      <%= f.label :users %><br />
        <%= collection_check_boxes(:post, :user_ids, User.all, :id, :name) do |b| %>
      <%= b.label { b.check_box + b.text } %>
      <% end %>
    
      <%= f.submit "Create event", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

